language: android
sudo: true

android:
  components:
    - android-27
    - tools
    - build-tools-28.0.3
    - com.android.tools.build:gradle:3.6.1

  licenses:
    - android-sdk-license-.+
    - android-sdk-preview-license-.+
    - google-gdk-license-.+
    - '.+'


script:
  - chmod +x ./gradlew :app:assembleRelease